<app-navbar></app-navbar>

<div class="pb-8 bg-yellow-100">

    <div class="bg-yellow-100 min-h-screen flex items-center justify-center pt-10 pb-20">
        <div class="w-full max-w-md bg-white border border-yellow-600 rounded-2xl shadow-xl p-8">

            <h2 class="text-3xl font-bold text-yellow-900 mb-8 text-center">Registro de Usuario</h2>

            <form [formGroup]="registroForm" (ngSubmit)="registrar()" class="space-y-6">

                <!-- Nombre -->
                <div>
                    <label for="nombre" class="block text-sm font-semibold text-yellow-900 mb-1">Nombre</label>

                    <div class="input-card">
                        <input id="nombre" name="nombre" formControlName="nombre" type="text"
                            class="w-full rounded-lg border border-yellow-300 px-4 py-2 focus:ring-2 focus:ring-yellow-600 focus:outline-none"
                            placeholder="Tu nombre completo" />
                    </div>

                    @if (registroForm.get("nombre")?.invalid && registroForm.get("nombre")?.touched) {
                    <span class="text-red-600 text-sm mt-1 block">El nombre es obligatorio</span>
                    }
                </div>


                <!-- telefono -->
                <div>
                    <label for="telefono" class="block text-sm font-semibold text-yellow-900 mb-1">Telefono</label>

                    <div class="input-card">

                        <input id="telefono" name="telefono" formControlName="telefono" type="text"
                            oninput="this.value = this.value.replace(/\D/g, '')" maxlength="10"
                            class="w-full rounded-lg border border-yellow-300 px-4 py-2 focus:ring-2 focus:ring-yellow-600 focus:outline-none"
                            placeholder="teléfono" />

                    </div>

                    @if (registroForm.get("telefono")?.invalid && registroForm.get("telefono")?.touched) {
                    <span class="text-red-600 text-sm mt-1 block">El teléfono es obligatorio</span>
                    }
                </div>

                <!-- Direccion -->
                <div>
                    <label for="profesion" class="block text-sm font-semibold text-yellow-900 mb-1">Dirección</label>

                    <div class="input-card">
                        <input id="profesion" name="profesion" formControlName="profesion" type="text"
                            class="w-full rounded-lg border border-yellow-300 px-4 py-2 focus:ring-2 focus:ring-yellow-600 focus:outline-none"
                            placeholder="Av Amazonas OE45" />
                    </div>

                    @if (registroForm.get("profesion")?.invalid && registroForm.get("profesion")?.touched) {
                    <span class="text-red-600 text-sm mt-1 block">La dirección es obligatoria</span>
                    }
                </div>

                <!-- Email -->
                <div>
                    <label for="email" class="block text-sm font-semibold text-yellow-900 mb-1">Correo
                        Electrónico</label>

                    <div class="input-card">
                        <input id="email" name="email" formControlName="email" type="email"
                            class="w-full rounded-lg border border-yellow-300 px-4 py-2 focus:ring-2 focus:ring-yellow-600 focus:outline-none"
                            placeholder="ejemplo@correo.com" />
                    </div>

                    @if (registroForm.get("email")?.invalid && registroForm.get("email")?.touched) {
                    <span class="text-red-600 text-sm mt-1 block">El correo electrónico es obligatorio </span>
                    }
                </div>

                <!-- Password -->
                <div>
                    <label for="password" class="block text-sm font-semibold text-yellow-900 mb-1">Contraseña</label>

                    <div class="input-card">
                        <input id="password" name="password" formControlName="password" type="password"
                            class="w-full rounded-lg border border-yellow-300 px-4 py-2 focus:ring-2 focus:ring-yellow-600 focus:outline-none"
                            placeholder="••••••••" />
                    </div>

                    @if (registroForm.get("password")?.invalid && registroForm.get("password")?.touched) {
                    <span class="text-red-600 text-sm mt-1 block">La contraseña es obligatoria y debe tener 6
                        letras como mínimo</span>
                    }
                </div>

                <!-- Checkbox -->
                <div class="flex items-center justify-center">
                    <input id="remember" type="checkbox" required
                        class="w-4 h-4 border border-yellow-400 rounded focus:ring-2 focus:ring-yellow-600" />
                    <label for="remember" class="ms-2 text-sm text-yellow-900">Recordarme</label>
                </div>

                <!-- Botón -->
                <button type="submit"
                    class="w-full bg-yellow-600 hover:bg-yellow-700 text-white font-semibold py-2.5 px-4 rounded-lg transition duration-300">
                    Registrarse
                </button>
            </form>

            <!-- Usuarios registrados -->
            <div class="mt-10">
                <h3 class="text-lg text-center font-bold text-yellow-900 mb-2">Usuarios Registrados</h3>
                @if (usuariosRegistrados.length > 0) {
                <ul class="list-disc list-inside text-sm text-yellow-800">
                    @for (usuario of usuariosRegistrados; track usuario.email) {
                    <li><strong>{{ usuario.nombre }}</strong> - {{ usuario.profesion }} - {{ usuario.email
                        }}-{{usuario.telefono}}</li>
                    }
                </ul>
                } @else {
                <p class="text-yellow-700 text-sm">No hay usuarios registrados aún.</p>
                }
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>