.contenedor {
    padding: 30px;
    background-color: #dfdfdf;
}

.img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 20px;
}

.tarjeta {
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: #f5cba7;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 30px;
    background-color: #ffad65;
}

.card-hover:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.titulo {
    font-size: 50px;
    color: #ca6f1e;
    text-align: center;
    margin-bottom: 30px;
}


.caja {
    background-color: #dadada;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
}