<div class="bg-yellow-400 py-12 px-6 md:px-20">
    <div class="max-w-7xl mx-auto flex flex-col-reverse md:flex-row items-center gap-10">

        <div class="w-full md:w-1/2 text-center md:text-left">
            <h2 class="text-4xl sm:text-5xl md:text-6xl font-bold text-black leading-tight">
                Bienvenido a Casa Armonía
            </h2>
            <p class="mt-6 text-lg sm:text-xl md:text-2xl text-black leading-relaxed">
                Tu tienda de decoración con estilo y esencia. En Casa Armonía encontrarás productos que transforman tu
                hogar en un espacio lleno de paz, color y equilibrio. Nos especializamos en detalles que hacen la
                diferencia,
                desde piezas artesanales hasta elementos modernos que reflejan tu personalidad. Creamos ambientes que
                inspiran bienestar, calidez y armonía en cada rincón de tu vida cotidiana.
            </p>

            <div class="mt-8 flex justify-center md:justify-start">
                <a routerLink="/productos"
                    class="px-6 py-3 bg-yellow-800 text-black font-semibold rounded-lg shadow-md hover:bg-yellow-100 transition-colors duration-300">
                    Ver productos
                </a>
            </div>
        </div>

        <div class="w-full md:w-1/2 flex justify-center">
            <img src="https://images.pexels.com/photos/27562175/pexels-photo-27562175.png" alt="Decoración Casa Armonía"
                class="rounded-xl shadow-lg w-full max-w-md sm:max-w-lg h-auto object-cover" />
        </div>
    </div>
</div>