<div class="antialiased text-gray-900 bg-gray-300 py-12 px-4">
    <h2 class="text-3xl font-bold text-center mb-10">Explora nuestras categorías</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 max-w-7xl mx-auto">

        <div
            class=" card-hover  bg-white rounded-lg shadow-2xl border border-black group transition-transform duration-300 hover:translate-y-[-10px] hover:shadow-black/50 overflow-hidden flex flex-col items-center">
            <div class="h-48 overflow-hidden w-full">
                <img class="h-full w-full object-cover transform transition-transform duration-300 group-hover:scale-110"
                    src="https://colineal.com/cdn/shop/files/885369558092_3.jpg?v=1752612395&width=1000"
                    alt="Alfombras" />
            </div>

            <div class="flex flex-col items-center p-5 text-center group-hover:bg-gray-700 transition duration-300"
                style="height: 140px;">
                <div class="flex-grow">
                    <h4 class="text-xl font-semibold mb-2 group-hover:text-white">Alfombras</h4>
                    <p class="text-gray-500 group-hover:text-white">
                        Descubre alfombras que aportan calidez, textura y estilo a tus espacios.
                    </p>
                </div>
            </div>

            <div class="pb-5 w-[95%]">
                <button routerLink="/productos"
                    class="card-hover w-full bg-red-600 text-white font-semibold px-6 py-2 rounded-md hover:bg-red-700 transition-colors duration-300 cursor-pointer">
                    Revisar catálogo
                </button>
            </div>
        </div>


        <div
            class=" card-hover bg-white rounded-lg shadow-2xl border border-black group transition-transform duration-300 hover:translate-y-[-10px] hover:shadow-black/50 overflow-hidden flex flex-col items-center">
            <div class="h-48 overflow-hidden w-full">
                <img class="h-full w-full object-cover transform transition-transform duration-300 group-hover:scale-110"
                    src="https://colineal.com/cdn/shop/collections/266048209077.jpg?v=1713879215&width=1400"
                    alt="Adornos" />
            </div>
            <div class="flex flex-col items-center p-5 text-center group-hover:bg-gray-700 transition duration-300"
                style="height: 140px;">
                <div class="flex-grow">
                    <h4 class="text-xl font-semibold mb-2 group-hover:text-white">Adornos</h4>
                    <p class="text-gray-500 group-hover:text-white">
                        Agrega carácter a tu hogar con piezas decorativas únicas y elegantes.
                    </p>
                </div>
            </div>
            <div class="pb-5 w-[95%]">
                <button routerLink="/productos"
                    class="card-hover w-full bg-red-600 text-white font-semibold px-6 py-2 rounded-md hover:bg-red-700 transition-colors duration-300 cursor-pointer">
                    Revisar catálogo
                </button>
            </div>
        </div>


        <div
            class="card-hover bg-white rounded-lg shadow-2xl border border-black group transition-transform duration-300 hover:translate-y-[-10px] hover:shadow-black/50 overflow-hidden flex flex-col items-center">
            <div class="h-48 overflow-hidden w-full">
                <img class="h-full w-full object-cover transform transition-transform duration-300 group-hover:scale-110"
                    src="https://colineal.com/cdn/shop/files/SalaDiana.jpg?v=1752623696&width=1000" alt="Salas" />
            </div>
            <div class="flex flex-col items-center p-5 text-center group-hover:bg-gray-700 transition duration-300"
                style="height: 140px;">
                <div class="flex-grow">
                    <h4 class="text-xl font-semibold mb-2 group-hover:text-white">Salas</h4>
                    <p class="text-gray-500 group-hover:text-white">
                        Inspírate con diseños de salas acogedoras y funcionales para cada ocasión.
                    </p>
                </div>
            </div>
            <div class="pb-5 w-[95%]">
                <button routerLink="/productos"
                    class="card-hover w-full bg-red-600 text-white font-semibold px-6 py-2 rounded-md hover:bg-red-700 transition-colors duration-300 cursor-pointer">
                    Revisar catálogo
                </button>
            </div>
        </div>


        <div
            class="card-hover bg-white rounded-lg shadow-2xl border border-black group transition-transform duration-300 hover:translate-y-[-10px] hover:shadow-black/50 overflow-hidden flex flex-col items-center">
            <div class="h-48 overflow-hidden w-full">
                <img class="h-full w-full object-cover transform transition-transform duration-300 group-hover:scale-110"
                    src="https://colineal.com/cdn/shop/collections/Comedor-Natur_3200x1600_eda38620-5605-4e03-8459-c3fd9cb23653.jpg?v=1721151599&width=1400"
                    alt="Comedores" />
            </div>
            <div class="flex flex-col items-center p-5 text-center group-hover:bg-gray-700 transition duration-300"
                style="height: 140px;">
                <div class="flex-grow">
                    <h4 class="text-xl font-semibold mb-2 group-hover:text-white">Comedores</h4>
                    <p class="text-gray-500 group-hover:text-white">
                        Comedores que invitan a compartir momentos y comidas inolvidables.
                    </p>
                </div>
            </div>
            <div class="pb-5 w-[95%]">
                <button routerLink="/productos"
                    class="card-hover w-full bg-red-600 text-white font-semibold px-6 py-2 rounded-md hover:bg-red-700 transition-colors duration-300 cursor-pointer">
                    Revisar catálogo
                </button>
            </div>
        </div>
    </div>
</div>