

<!-- Visión -->
<div>
  <section
    class="w-full min-h-screen bg-yellow-700 flex flex-col md:flex-row items-center justify-center px-6 md:px-20 py-12"
  >
    <!-- Imagen (izquierda en desktop) -->
    <div
      class="w-full md:w-1/2 mt-10 md:mt-0 flex justify-center order-1 md:order-1 "
    >
      <img
        src="https://media.vrbo.com/lodging/100000000/99830000/99827700/99827677/5db11cd2.jpg?impolicy=resizecrop&rw=575&rh=575&ra=fill"
        alt="Imagen visión"
        class="imagen-fija"
      />
    </div>

    <!-- Texto -->
    <div class="w-full md:w-1/2 flex flex-col gap-6 order-2 md:order-2 pt-10">
      <div class="fondo card-hover">
        <h1 class="text-4xl md:text-5xl font-bold text-white mb-6">Nuestra Visión</h1>
        <p class="text-lg md:text-xl leading-relaxed text-white">
          En <strong>Casa Armonía</strong>, visualizamos un mundo en el que cada persona pueda vivir de forma natural,
          conectada con sus raíces y en paz consigo misma y con el entorno. Aspiramos a convertirnos en un referente
          de bienestar integral, promoviendo una vida basada en el respeto, la sostenibilidad y la salud.
          <br /><br />
          Queremos seguir creciendo como una comunidad consciente, donde cada producto, cada decisión y cada experiencia
          contribuyan a construir un futuro más armonioso para todos.
        </p>
      </div>
    </div>
  </section>
</div>