<div class="mt-10 mb-10">

  <div id="default-carousel" class="relative w-[800px] mx-4 bg-gray-500">
    <div class="relative overflow-hidden rounded-lg md:h-96">
      @for (slide of slides; let i = $index; track slide) {
      <div [class.hidden]="avanzar !== i + 1" class="duration-700 ease-in-out h-full w-full">
        <img [src]="slide.imgUrl" class="block w-full h-96 object-cover object-center" alt="Slide {{i + 1}}">
      </div>
      }
    </div>

    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      @for (slide of slides; let i = $index; track slide) {
      <button type="button" class="w-3 h-3 rounded-full" [attr.aria-current]="avanzar === i + 1 ? 'true' : 'false'"
        [attr.aria-label]="'Slide ' + (i + 1)" (click)="avanzar = i + 1">
      </button>
      }
    </div>

    <button type="button"
      class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      (click)="avanzar = avanzar === 1 ? slides.length : avanzar - 1">
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 1 1 5l4 4" />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>

    <button type="button"
      class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none "
      (click)="avanzar = avanzar === slides.length ? 1 : avanzar + 1">
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 9 4-4-4-4" />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>

</div>