<div class="md:px-20 py-12 bg-gray-200">
    <h2 class="text-3xl md:text-4xl font-bold text-center text-yellow-600 mb-10">
        Nuestros Patrocinadores
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="flex justify-center items-center">
            <img class="h-auto max-w-full rounded-lg"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNwn3fRHG2rG3AKkeKiPvBzG767CGR3H-D0g&s"
                alt="" />
        </div>
        <div class="flex justify-center items-center">
            <img class="h-auto max-w-full rounded-lg"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkg0ItcwTgRCKGz74VYYWNp479SjGgC2koWg&s"
                alt="" />
        </div>
        <div class="flex justify-center items-center">
            <img class="h-auto max-w-full rounded-lg"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTwOSYPUOCZytidXocEOMmSrLhWzcHIj-kQA&s"
                alt="" />
        </div>
        <div class="flex justify-center items-center">
            <img class="h-auto max-w-full rounded-lg"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKWDm03ftdk-nBjVsZTCsf9CyF7R8agz34ww&s"
                alt="" />
        </div>
    </div>
</div>