<app-navbar></app-navbar>

<div class="flex pt-12 px-6 md:px-20 items-center justify-center bg-yellow-400 md:h-screen overflow-hidden pt-10 pb-10">

  <div class="flex flex-col md:flex-row items-center max-w-7xl w-full gap-10">
    
    <div class="w-full md:w-1/2 text-center md:text-left text-white">
      <h2 class="text-4xl md:text-5xl font-bold leading-tight">Bienvenido a Casa Armonía</h2>
      <p class="mt-6 text-lg md:text-xl font-light leading-relaxed">
        Tu tienda de decoración con estilo y esencia. En Casa Armonía encontrarás productos que transforman tu hogar en un espacio lleno de paz, color y equilibrio.
      </p>
      <div class="mt-8">
        <a href="/productos" class="inline-block px-6 py-3 text-black bg-yellow-800 font-semibold rounded-lg shadow-md hover:bg-yellow-100 transition-colors">
          Ver productos
        </a>
      </div>
    </div>

    <div class="w-full md:w-1/2 flex justify-center md:justify-end pt-5">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT94oAk3RIiFsezZA_bqMT912S1pEq6KwXiHQ&s" alt="Decoración Casa Armonía" class="rounded-xl shadow-lg max-h-[800px] object-cover">
    </div>
    
  </div>
</div>

<app-carrusel></app-carrusel>
